.virtual-keyboard {
  width: 916px;
  margin: 0 auto;
  padding: 0 20px;
}
  
.virtual-keyboard__heading {
  font-size: 32px;
  text-align: center;
  color: Teal;
}
  
.virtual-keyboard__info {
  margin-top: 20px;
}
  
.virtual-keyboard__info p {
  margin: 0;
  margin-bottom: 10px;
}